<!DOCTYPE html>
<html>
<head>
    <title>Hive list</title>
    <script src="javascripts/SelectWithCustomInput.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="bg-dark">
<%- include('partial/header')%>

<div class="container-fluid">
    <form class="border-bottom border-dark mb-4" method="post" action="/edit/update">
        <input type="hidden" name="id" value="<%=hive.id%>">
        <input type="hidden" name="hasPicture" value="<%=hive.hasPicture%>">
        <div class="form-floating mb-2">
            <input id="hiveId" class="form-control" value="<%=hive.id%>" disabled>
            <label for="hiveId">Number:</label>
        </div>

        <div class="form-floating mb-2">
            <select id="hiveType" name="type" class="form-select">
                <option value="<%=hive.type%>" selected hidden><%=hive.type%></option>
                <option value="Vertical">Vertical</option>
                <option value="Horizontal">Horizontal</option>
                <option value="Queen bee rearing">Queen bee rearing</option>
                <option value="Nucleus">Nucleus</option>
            </select>
            <label for="hiveType">Type:</label>
        </div>

        <div class="form-floating mb-2">
            <div id="textSelectDiv"  class="form-floating" style="display: inline">
                <select id="textSelect" name="queen" class="form-select" onchange="openInput()">
                    <option value="<%=hive.queen%>" selected hidden><%=hive.queen%></option>
                    <option value="Carniolan">Carniolan</option>
                    <option value="Buckfast">Buckfast</option>
                    <option value="Italian">Italian</option>
                    <option value="Caucasian">Caucasian</option>
                    <option value="other">Other</option>
                </select>
                <label for="textSelect">Queen:</label>
            </div>

            <div id="otherInput" class="form-floating" style="display:none;">
                <input name="queen" type="text" id="textOther" class="form-control" onblur="hideInput()" disabled/>
                <label for="textOther">Other queen:</label>
            </div>
        </div>

        <div class="form-floating mb-2">
            <input id="date" type="date" class="form-control" name="date" value="<%=hive.date%>">
            <label for="date">Date:</label>
        </div>

        <div class="panel-body mb-4 input-group">
            <button class="btn btn-success col-1" type="submit">Save</button>
            <button class="btn btn-danger col-1" type="submit" formaction="/edit/delete">Delete</button>
        </div>

    </form>

    <form method="post" action="/edit/uploadFile" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%=hive.id%>">
        <label class="text-secondary h4">Add picture: </label>
        <div class="input-group mb-3">
            <button class="btn btn-secondary col-1" type="submit" id="inputGroupFileAddon03">Upload</button>
            <input type="file" name="myFile" class="form-control" id="inputGroupFile03"
                   aria-describedby="inputGroupFileAddon03" aria-label="Upload"
                   accept=".png, .jpg, .jpeg" required>
        </div>
    </form>
    <%if(hive.hasPicture === "true"){%>
        <form method="post" action="/edit/deleteFile">
            <input type="hidden" name="id" value="<%=hive.id%>">
            <div class="input-group d-flex justify-content-center">
                <img class="border border-3 border-warning" style="width: 300px; height: 256px" src="<%="images/hives/" + hive.id%>">
                <button type="submit" class="btn btn-outline-danger">Delete image</button>
            </div>
        </form>

    <%}%>
</div>

</body>
</html>