<div class="col">
    <a href="/edit?id=<%=hive.id%>">
        <div class="btn btn-outline-dark m-1 w-100">
            <img style="width: 75px; height: 64px" class="m-3"
                 src=<% if(hive.hasPicture === 'true') {%>
                <%="images/hives/" + hive.id%>
            <%} else {%>
                <%="images/hive.png"%>
            <%}%>/>
            <p>Type: <%= hive.type%></p>
            <p>Queen: <%= hive.queen%></p>
            <p><%= hive.date%></p>
        </div>
    </a>


</div>